Options -Indexes

AddType application/x-javascript .js
AddType text/css .css

AddEncoding x-gzip .gz

DirectorySlash Off

<IfModule mod_rewrite.c>
	RewriteEngine On

	# For SEO, transform any www. links to a link without www.
	RewriteCond %{HTTP_HOST}		^www\.(.+)$ [NC]
	RewriteRule ^(.*)$				http://%1%{REQUEST_URI} [L,R=301]

	# Force site to be HTTPS only (Atwood supports this)
#	RewriteCond %{HTTPS} !=on
#	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteRule ^$ public/ [L]
	RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

### Environment variables ###

# this is the trigger for "prod" mode
# the host should be set to your production server domain
SetEnvIfNoCase Host php-atwood\.com conf=prod mode=prod

# this is the trigger for "dev" mode.
# Change the "conf" value from dev to the name of your config file
SetEnvIfNoCase Host dev\.vm conf=dev mode=dev